<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deltadental.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.deltadental.android.activities.DeltaDentalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deltadental.android.activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deltadental.android.activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.DeltaDentalHomeActivity"
            android:label="@string/title_activity_delta_dental_home" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.FindDentistNearAddrActivity"
            android:label="@string/title_activity_find_dentist" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.NearMeCurrentLocFragment"
            android:label="@string/title_activity_near_me_current_loc" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.NearMeNearAddrFragment"
            android:label="@string/title_activity_near_me_near_addr" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.NearAddrCurrentLocFragmentAddrCurrentLocFragment"
            android:label="@string/title_activity_near_addr_current_loc_fragment" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.NearAddrNearAddrActivity"
            android:label="@string/title_activity_near_addr_near_addr" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.FindDentistNearMeActivity"
            android:label="@string/title_activity_find_dentist_near_me" >
        </activity>
        <activity
            android:name="com.deltadental.android.activities.ProvidersListActivity"
            android:label="@string/title_activity_providers_list" >
        </activity>
        <activity
            android:name="com.deltadental.android.ProviderListActivity"
            android:label="@string/title_activity_provider_list" >
        </activity>
    </application>

</manifest>
